<?xml version="1.0" encoding="UTF-8"?>
<suite name="Enuygun QA Automation Test Suite" verbose="1">
    <parameter name="browser" value="chrome"/>
    <parameter name="environment" value="dev"/>
    
    <listeners>
        <listener class-name="org.testng.reporters.XMLReporter"/>
        <listener class-name="org.testng.reporters.JUnitReportReporter"/>
    </listeners>
    
    <!-- Smoke Tests - High Priority, Quick Execution -->
    <test name="Smoke Tests" preserve-order="true">
        <groups>
            <run>
                <include name="Smoke"/>
            </run>
        </groups>
        <classes>
            <class name="com.enuygun.qa.api.tests.PetApiTest">
                <methods>
                    <include name="testCreatePet"/>
                    <include name="testGetPetById"/>
                </methods>
            </class>
        </classes>
    </test>
    
    <!-- UI Tests - Cross Browser Testing -->
    <test name="UI Tests - Chrome" preserve-order="true" enabled="false">
        <parameter name="browser" value="chrome"/>
        <groups>
            <run>
                <include name="UI"/>
            </run>
        </groups>
        <classes>
            <!-- UI test classes would be added here when available -->
        </classes>
    </test>
    
    <test name="UI Tests - Firefox" preserve-order="true" enabled="false">
        <parameter name="browser" value="firefox"/>
        <groups>
            <run>
                <include name="UI"/>
                <include name="Smoke"/>
            </run>
        </groups>
        <classes>
            <!-- UI test classes would be added here when available -->
        </classes>
    </test>
    
    <!-- API Tests - Petstore -->
    <test name="API Tests - Petstore" preserve-order="true">
        <groups>
            <run>
                <include name="API"/>
            </run>
        </groups>
        <classes>
            <class name="com.enuygun.qa.api.tests.PetApiTest"/>
            <class name="com.enuygun.qa.api.tests.PetApiNegativeTest"/>
        </classes>
    </test>
    
    <!-- Data Analysis Tests -->
    <test name="Data Analysis Tests" preserve-order="true" enabled="false">
        <groups>
            <run>
                <include name="Data"/>
            </run>
        </groups>
        <classes>
            <!-- Data analysis test classes would be added here when available -->
        </classes>
    </test>
    
    <!-- Regression Tests - Full Suite -->
    <test name="Regression Tests" preserve-order="true" enabled="false">
        <groups>
            <run>
                <include name="Regression"/>
            </run>
        </groups>
        <classes>
            <class name="com.enuygun.qa.api.tests.PetApiTest"/>
            <class name="com.enuygun.qa.api.tests.PetApiNegativeTest"/>
            <!-- Additional test classes can be added when available -->
        </classes>
    </test>
</suite>